dosya_isleme/MvcWebService_Tekrar2/MvcWebService_Tekrar2/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53759/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService_Tekrar2" />
  <xs:element name="GetNewVendorData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewVendorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService_Tekrar2" minOccurs="0" name="GetNewVendorDataResult" nillable="true" type="q1:ArrayOftbl_NewVendorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>