dosya_isleme/MvcWebService_Tekrar2/MvcWebService_Tekrar2/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService_Tekrar2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService_Tekrar2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftbl_NewVendorData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_NewVendorData" nillable="true" type="tns:tbl_NewVendorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_NewVendorData" nillable="true" type="tns:ArrayOftbl_NewVendorData" />
  <xs:complexType name="tbl_NewVendorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Musteri_Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Musteri_Adresi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Musteri_Soyadi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Musteri_Telefon" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_NewVendorData" nillable="true" type="tns:tbl_NewVendorData" />
</xs:schema>